Pods
.DSStore
Covid Pilot.xcodeproj/xcuserdata/alopezh.xcuserdatad
Covid Pilot.xcodeproj/project.xcworkspace/xcuserdata/alopezh.xcuserdatad
Covid Pilot.xcworkspace/xcuserdata/alopezh.xcuserdatad

Covid Pilot.xcodeproj/xcuserdata/

Covid Pilot.xcodeproj/project.xcworkspace/xcuserdata/

.DS_Store
Package.resolved
Podfile.lock
